<form class="row justify-content-center my-2" cForm [formGroup]="form" (ngSubmit)="getAll()" *ngIf="this.listBanks.length>0">
  <c-col class="mb-3 col-sm-8">
    <table [striped]="true" [responsive]="true" cTable bordered  id="table">
      <thead>
        <tr id="tableTitle">
          <th class="lbltables" scope="col-1">fecha</th>
          <th class="lbltables" scope="col-4">Depositos (buscando informacion..)</th>
          <th class="lbltables" scope="col-4">Valor</th>
          <th class="lbltables" scope="col-4">Saldo</th>
        </tr>
      </thead>
      <tbody id="tableBody" >
        <tr *ngFor="let item of listDepos ; let i = index">
          <td scope="row" class="pb1">{{ item.Column1 }}</td>
          <td scope="row" class="pb1">{{ item.Column2 }}</td>
          <td scope="row" class="pb1">{{ item.Column3 | currency}}</td>
          <td scope="row" class="pb1">{{ item.Column4 | currency}}</td>

        </tr>
      </tbody>
    </table>
  </c-col>

  <c-col class="mb-3 col-sm-4">
    <table [striped]="true" [responsive]="true" cTable bordered  id="table">
      <thead>
        <tr id="tableTitle">
          <th class="lbltables" scope="col-1"></th>
          <th class="lbltables" scope="col-4">Banco Cta Corriente</th>
          <th class="lbltables" scope="col-4">Cta: DisaShop</th>
        </tr>
      </thead>
      <tbody id="tableBody" >
        <tr *ngFor="let item of listBanks ; let i = index">
          <td scope="row" class="pb1"><img [src]=item.Column4></td>
          <td scope="row" class="pb1">{{ item.Column1 }}</td>
          <td scope="row" class="pb1">{{ item.Column2 }}</td>
        </tr>
      </tbody>
    </table>
  </c-col>
</form>
