<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card shadow-2-strong shadow" style="border-radius: 3rem; border: #99cccc 7px solid">
          <div class="w-full surface-card py-4 px-4 sm:px-4" style="border-radius: 50px">
            <img
              src="../../../assets/images/logo.png"
              class="mb-0 w-6rem flex-shrink-0"
              style="display: block; margin: auto; width: 70px"
            />
            <div class="text-center mb-3">
              <h1 class="mb-0">Valeza MultiPos</h1>
              <span class="text-600 font-medium">Multi Servicios (Back Office)</span>
            </div>
            <form [formGroup]="userInformation" (ngSubmit)="userLogin()">
              <!-- <div> -->
              <!-- <div class="form-outline mb-2"> -->
                <!-- <label for="user" class="block text-900 text-xl font-medium mb-1">Usuario</label> -->
                <input type="text" id="user" class="form-control form-control-lg mb-2"
                  formControlName="user" placeholder="Usuario"/>
              <!-- </div> -->
              <!-- <div class="form-outline mb-3"> -->
                <!-- <label for="password" class="block text-900 font-medium text-xl mb-1">Contrase&ntilde;a</label> -->
                <input type="password" id="password" class="form-control form-control-lg mb-3"
                  formControlName="userPassword" placeholder="Contraseña"/>
              <!-- </div> -->
              <div class="flex align-items-center justify-content-between gap-5">
              <button class="btn btn-lg btn-block p-0 w-100 header2" style="border-radius: 50px; height: 60px; font-size:xx-large"  type="submit">
                Entrar
              </button>
              <!-- </div> -->
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
