<c-card class="fade-in-body">
  <c-card-header>
    <h4 class="font-text-color m-0 lbltitles">
      Manejo de limitaciones de venta de Bancas ({{this.list.length}})
      <!-- <button
        cButton
        color="success"
        size="sm"
        style="float: right"
        (click)="openModal('Agregar Banca o Sucursal')"
        *ngIf="this.isOwn"
      >
        <svg [cIcon]="icons.cilPlus" title="List Icon"></svg>
      </button> -->
    </h4>
  </c-card-header>
  <c-card-body>
    <c-row [gutter]="{ gx: 3 }">
      <pagination-controls class="col-sm-4 m-0"
      (pageChange)="page = $event">
    </pagination-controls>
    <c-col xs="6" sm="6" md="6" lg="6" xl="6" xxl="6">
        <c-input-group>
          <span cInputGroupText id="basic-addon1"
            ><svg [cIcon]="icons.cilMagnifyingGlass" title="List Icon"></svg>
          </span>
          <input
            aria-label="Buscar"
            cFormControl
            placeholder="Buscar"
            [(ngModel)]="search"
          />
        </c-input-group>
      </c-col>
      <c-col xs="6" sm="1" md="1" lg="1" xl="1" xxl="1" class="mb-3">
        <select
          cSelect
          formControlName="status"
          (change)="getNumberValue($event)"
        >
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </c-col>
    </c-row>
    <c-row [gutter]="{ gx: 3 }">
      <c-col xs="12" sm="12" md="12" lg="12" xl="12" xxl="12" class="mb-3">
        <table [striped]="true" [responsive]="true" cTable bordered>
          <thead>
            <tr>
              <th class="lbltables" scope="col">#</th>
              <th class="lbltables" scope="col">Nombre</th>
              <th class="lbltables" scope="col">Grupo</th>
              <th class="lbltables" scope="col">Telefono</th>
              <th class="lbltables" scope="col">Max Loteria</th>
              <th class="lbltables" scope="col">Max Recargas</th>
              <!-- <th class="lbltables" scope="col">Max Facturas</th> -->
              <!-- <th class="lbltables" scope="col">Responsable</th> -->
              <th class="lbltables" scope="col">AppVersion</th>
              <!-- <th class="lbltables" scope="col">Bloq Vista</th> -->
              <th class="lbltables" scope="col">SimCard</th>
              <!-- <th class="lbltables" scope="col">Serie</th> -->
              <th class="lbltables" scope="col">Ult-Actividad</th>
              <th class="lbltables" scope="col">Estatus</th>
              <th class="lbltables" scope="col">Acciones</th>

            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of list
                  | dataTableSearch : search
                  | paginate : { itemsPerPage: pages, currentPage: page };
                let i = index
              "
            >
              <td scope="row" class="pb2">{{ item.Id }}</td>
              <td scope="row" class="pb2">{{ item.Name }}</td>
               <td scope="row" class="pb2">{{ item.GroupName }}</td>
              <td scope="row" class="pb2">{{ item.Phone }}</td>
              <td scope="row" class="pb2">{{ item.MaxLottery | currency }}</td>
              <td scope="row" class="pb2">{{ item.MaxRecharges | currency }}</td>
              <!-- <td scope="row" class="pb2">{{ item.MaxInvoices | currency }}</td> -->
              <!-- <td scope="row" class="pb2">{{ item.Manager }}</td> -->
              <td scope="row" class="pb2">{{ item.AppVersion }}</td>
              <td scope="row" class="pb2">{{ item.SimCard }}</td>
              <!-- <td scope="row" class="pb2">{{ item.Serial }}</td> -->
              <td scope="row" class="pb2">{{ item.LastDateActivity | datePrint }}</td>
              <td scope="row" class="pb2">{{ item["Status"] | status }}</td>
              <td scope="row" class="pb2" style="width: 20px; text-align: center">
                <button class="pb1" cButton color="secondary" (click)="getOne(item.Id)">
                  <svg [cIcon]="icons.cilPen" title="List Icon"></svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>

<c-modal [visible]="visible" alignment="center" backdrop="static" size="lg">
  <c-modal-header class="header2">
    <h5 cModalTitle class="font-text-color;">{{ modalTitle }}</h5>
    <button (click)="closModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form
      class="row justify-content-end"
      cForm
      [formGroup]="form"
      (ngSubmit)="add()"
    >
      <div class="mb-3 col-sm-6">
        <label class="lblforms"
          >Nombre Banca o Sucursal:<span
            *ngIf="this.form.get('name')?.errors"
            class="text-danger"
          >
            *</span
          ></label
        >
        <input
          cFormControl
          type="input"
          placeholder="Nombre sucursal"
          formControlName="name"
          [readOnly]="true"
        />
      </div>
      <div class="mb-3 col-sm-6">
        <label class="lblforms">Direccion:</label>
        <input
          cFormControl
          type="input"
          placeholder="Direcci&oacute;n"
          formControlName="address"
          [readOnly]="true"
        />
      </div>
      <div class="mb-3 col-sm-4">
        <label class="lblforms">Telefono:</label>
        <input
          cFormControl
          type="input"
          placeholder="Tel&eacute;fono"
          formControlName="phone"
          [readOnly]="true"
        />
      </div>
      <div class="mb-3 col-sm-4">
        <label class="lblforms">Serial:</label>
        <input
          cFormControl
          type="input"
          placeholder="Serial"
          formControlName="serial"
          [readOnly]="true"
        />
      </div>
      <!-- <div class="mb-3 col-sm-4">
        <label class="lblforms">Grupo:</label>
        <select cSelect formControlName="group">
          <option [ngValue]="null" disabled>Escoja un Grupo</option>
          <option *ngFor="let prf of this.service.fileGroups" [ngValue]="prf.Id">
            {{ prf.Name }}
          </option>
        </select>
      </div> -->

      <!-- <div class="mb-3 col-sm-4">
        <label class="lblforms">Responsable:</label>
        <input
          cFormControl
          type="input"
          placeholder="Persona Responsable"
          formControlName="manager"
          [readOnly]="true"
        />
      </div> -->
<!--
      <div class="mb-3 col-sm-4">
        <label class="lblforms">Recaudador:</label>
        <select cSelect formControlName="collector">
          <option [ngValue]="0">Todos</option>
          <option *ngFor="let prf of this.service.fileUsers" [ngValue]="prf.Id">
            {{ prf.Name }}
          </option>
        </select>
      </div> -->
      <div class="mb-3 col-sm-2">
        <label class="lblforms">App</label>
        <input
          cFormControl
          type="input"
          style="font-size: small;"
          placeholder="App Version"
          formControlName="appVersion"
          [readOnly]="true"
        />
      </div>

      <div class="mb-3 col-sm-2">
        <label class="lblforms">Sim Card:</label>
        <input
          cFormControl
          type="input"
          style="font-size: small;"
          placeholder="Sim Card Id"
          formControlName="simCard"
          [readOnly]="true"
        />
      </div>

      <!-- <div class="mb-3 col-sm-4">
        <label class="lblforms">Equipo o Terminal:</label>
        <select cSelect formControlName="terminal">
          <option [ngValue]="0">Terminal no definida</option>
          <option *ngFor="let prf of this.service.fileTerminals" [ngValue]="prf.Id">
            {{ prf.Name }}
          </option>
        </select>
      </div> -->

      <hr class="col-sm-12">
      <div class="mb-3 col-sm-3">
        <label class="lblforms"><a class="col-sm-12">Limite Venta</a> De Loterias:</label>
        <input
          cFormControl
          type="number"
          placeholder="Max Venta Loteria"
          formControlName="maxLottery"
        />
      </div>
      <div class="mb-3 col-sm-3">
        <label class="lblforms">De Recargas:</label>
        <input
          cFormControl
          type="number"
          placeholder="Max Venta Recargas"
          formControlName="maxRecharges"
        />
      </div>
      <div class="mb-3 col-sm-3">
        <label class="lblforms">De Facturas:</label>
        <input
          cFormControl
          type="number"
          placeholder="Max Facturas"
          formControlName="maxInvoices"
        />
      </div>
      <div class="mb-3 col-sm-3">
        <label class="lblforms">De Rapidita:</label>
        <input
          cFormControl
          type="number"
          placeholder="Max Venta Rapidita"
          formControlName="maxFastPrime"
        />
      </div>
      <hr class="col-sm-12">
      <!-- <div class="mb-3 col-sm-2">
        <label class="lblforms"><a class="col-sm-12">Limite</a> Quiniela:</label>
        <input cFormControl type="input" placeholder="Lim Quiniela" formControlName="max_Qui">
      </div>
      <div class="mb-3 col-sm-2">
        <label class="lblforms">Pale:</label>
        <input cFormControl type="input" placeholder="Lim Pale" formControlName="max_Pal">
      </div>
      <div class="mb-3 col-sm-2">
        <label class="lblforms">Tripleta:</label>
        <input cFormControl type="input" placeholder="Lim Tripleta" formControlName="max_Tri">
      </div>
      <div class="mb-3 col-sm-3">
        <label class="lblforms">Super Pale:</label>
        <input cFormControl type="input" placeholder="Lim Super Pale" formControlName="max_Sup">
      </div>
      <div class="mb-3 col-sm-3">
        <label class="lblforms">Rapidita:</label>
        <input cFormControl type="input" placeholder="Lim Rapidita" formControlName="max_Rap">
      </div>
 -->

      <!-- <hr class="col-sm-12">

      <div class="mb-3 col-sm-3">
        <label class="lblforms"><a class="col-sm-12">Comision</a> De Loteria:</label>
        <input cFormControl type="input" placeholder="Comi Loteria" formControlName="comi">
      </div>
      <div class="mb-3 col-sm-3">
        <label class="lblforms">De Recargas:</label>
        <input cFormControl type="input" placeholder="Comi Recargas" formControlName="comi_Recharges">
      </div>
      <div class="mb-3 col-sm-3">
        <label class="lblforms">De Facturas:</label>
        <input cFormControl type="input" placeholder="Comi Facturas" formControlName="comi_Invoices">
      </div>
      <div class="mb-3 col-sm-3">
        <label class="lblforms">De LN:</label>
        <input cFormControl type="input" placeholder="Comi Ln" formControlName="comi_Ln">
      </div> -->

      <hr class="col-sm-12">
      <div class="mb-3 col-sm-3">
        <label class="lblforms">Rapidita:</label>
        <select cSelect formControlName="fastPrime">
          <option value="null" disabled>Rapidita?</option>
          <option value="True">Si</option>
          <option value="False">No</option>
        </select>
      </div>
      <!-- <div class="mb-3 col-sm-3">
        <label class="lblforms">Bloq Comision:</label>
        <select cSelect formControlName="blockViewComission">
          <option value="null" disabled>Bloquea Vista?</option>
          <option value="True">Si</option>
          <option value="False">No</option>
        </select>
      </div> -->

      <div class="mb-3 col-sm-3">
        <label class="lblforms">Estatus:</label>
        <select cSelect formControlName="status" (change)="getStatus($event)">
          <option value="" disabled>Estatus?</option>
          <option value="a">Activo</option>
          <option value="i">Inactivo</option>
        </select>
      </div>

      <div class="mb-3 col-sm-3">
        <button cButton (click)="add()" class="btn btn-success col-sm-6 mt-4">
          Ok
        </button>
      </div>
    </form>
  </c-modal-body>
</c-modal>

