.avatar{
  float: right;
  background: #333 !important;
  color: #FFF  !important;
  cursor: pointer;
}

.avatar:hover{
  background: #005c5c !important;
}

.labanca {
  float: center;
  margin-right: 20px;
}

