<c-card class="fade-in-body">
  <c-card-header>
    <h4 class="font-text-color m-0 lbltitles">Configuracion Loterias</h4>
    <h6 class="font-text-color m-0 lbltitles">(para Limitacion Global de apuestas, o para Inactivar loterias)</h6>
  </c-card-header>

  <div class="p-2">
    <form
      class="row justify-content-end"
      cForm
      [formGroup]="form"
      (ngSubmit)="add()"
    >

    </form>
  </div>
  <div class="p-2">
    <c-row [gutter]="{ gx: 3 }">
      <c-col class="mb-3 col-sm-10">
        <c-input-group>
          <span cInputGroupText id="basic-addon1"
            ><svg [cIcon]="icons.cilMagnifyingGlass" title="List Icon"></svg
          ></span>
          <input
            aria-label="Buscar"
            cFormControl
            placeholder="Buscar"
            [(ngModel)]="search"
          />
        </c-input-group>
      </c-col>
      <c-col class="mb-3 col-sm-2">
        <select
          cSelect
          formControlName="status"
          (change)="getNumberValue($event)"
        >
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </c-col>
    </c-row>
    <!-- <div class="row justify-content-center ">
      <div class="row col-sm-6 border p-0">
      <p class="col-4">LIMITES BASE =></p>
      <p class="col-2">{{companyLimits.Max_Qui | currency}}</p>
      <p class="col-2">{{companyLimits.Max_Pal | currency}}</p>
      <p class="col-2">{{companyLimits.Max_Tri | currency}}</p>
      <p class="col-2">{{companyLimits.Max_Sup | currency}}</p>
    </div>
    </div> -->
    <c-row [gutter]="{ gx: 3 }">
      <c-col xs="12" sm="12" md="12" lg="12" xl="12" xxl="12" class="mb-3">
        <table [striped]="true" [responsive]="true" cTable bordered>
          <thead>
            <tr>
              <th class="lbltables" scope="col">Loteria  (Limite x defecto)</th>
              <th class="lbltables" scope="col">Quiniela ({{companyLimits.Max_Qui | currency}})</th>
              <th class="lbltables" scope="col">Pale ({{companyLimits.Max_Pal | currency}})</th>
              <th class="lbltables" scope="col">Tripleta ({{companyLimits.Max_Tri | currency}})</th>
              <th class="lbltables" scope="col">SuperP ({{companyLimits.Max_Sup | currency}})</th>
              <th class="lbltables" scope="col">Status</th>
              <th class="lbltables" scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of list
                  | dataTableSearch : search
                  | paginate : { itemsPerPage: pages, currentPage: page };
                let i = index
              "
            >
              <!-- <ng-container *ngIf="item.Day==this.day">                                 -->
              <td scope="row" class="pb2">{{ item.LotteryName }}</td>
              <td scope="row" class="pb2">{{ item.Max_Qui | currency }}</td>
              <td scope="row" class="pb2">{{ item.Max_Pal | currency }}</td>
              <td scope="row" class="pb2">{{ item.Max_Tri | currency }}</td>
              <td scope="row" class="pb2">{{ item.Max_Sup | currency }}</td>
              <td scope="row" class="pb2">{{ item.Status | status  }}</td>
              <td scope="row" class="pb2" style="width: 20px; text-align: center;">
                  <button cButton color="secondary" (click)="getOne(item.Id)" >
                    <svg [cIcon]="icons.cilPen" title="List Icon"></svg>
                  </button>
                </td>
              <!-- </ng-container>                 -->
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </c-col>
    </c-row>
  </div>
</c-card>

<c-modal [visible]="visible" alignment="center" backdrop="static" size="lg">
  <c-modal-header class="header2">
      <h5 cModalTitle class="font-text-color;">{{modalTitle}}</h5>
      <button (click)="closModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
     <form class="row justify-content-start" cForm [formGroup]="form" (ngSubmit)="add()">
        <div class="mb-3 col-sm-6">
          <label class="lblforms">Loteria:</label>
          <input cFormControl type="input" onkeyup="this.value = this.value.toUpperCase();"  placeholder="Descripci&oacute;n" formControlName="lotteryName" readonly>
        </div>
        <!-- <div class="mb-3 col-sm-6">
          <label class="lblforms">Hora de Cierre:</label>
          <input cFormControl type="input" placeholder="Hora Cierre" formControlName="timeClose">
        </div> -->
        <hr class="col-sm-12">
        <div class="mb-3 col-sm-3">
          <label class="lblforms"><a class="col-sm-12">Limite</a> Quiniela:</label>
          <input cFormControl type="input" placeholder="Lim Quiniela" formControlName="max_Qui">
        </div>
        <div class="mb-3 col-sm-3">
          <label class="lblforms">Pale:</label>
          <input cFormControl type="input" placeholder="Lim Pale" formControlName="max_Pal">
        </div>
        <div class="mb-3 col-sm-3">
          <label class="lblforms">Tripleta:</label>
          <input cFormControl type="input" placeholder="Lim Tripleta" formControlName="max_Tri">
        </div>
        <div class="mb-3 col-sm-3">
          <label class="lblforms">Super Pale:</label>
          <input cFormControl type="input" placeholder="Lim Super Pale" formControlName="max_Sup">
        </div>


        <hr class="col-sm-12">


        <div class="mb-3 col-sm-6">
          <label class="lblforms">Estatus:</label>
          <select cSelect formControlName="status">
            <option value="" disabled>Estatus?</option>
            <option value="a">Activo</option>
            <option value="i">Inactivo</option>
          </select>
        </div>
        <div class="mb-3 col-sm-3">
          <button cButton color="success" type="submit" class="btn btn-success col-sm-6 mt-4">Ok</button>
        </div>
      </form>
    </c-modal-body>
  </c-modal>
